/**
css notifikasi power by
Waspada Tarigan
crashblack99@yahoo.com
boyz_imformation@yahoo.co.id
**/

input { padding: 3px; border: 1px solid #999; }
  #result { background-color: #F0FFED; border: 1px solid #215800; padding: 10px; width: 400px; margin-bottom: 20px; }