pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port

# anyway
#ignore all files in assets directory
assets/
.backup/

#abaikan semua gambar dengan extensi .png .jpg
*.png
!logos/*.png
img/*.jpg

#abaikan python files
*.py

#abaikan sql file
*.sql
#abaikan file lainnya...
*.rar
*.zip

#abaikan ini
.htaccess
